:root {
  --orange-color: #ff6b00;
  --white-color: #f4f5f7;
  --grey-white: #fff;
  --greyish-white: #fff5e1;
  --real-grey: #acb7c3;
  --light-grey: #3e3c3c;
  --dark-color: #1c1a19;
  --lighter-grey: #3c3a39;
  --chalk-white: #dbd8d7;
  --light-orange: #d5e1eb;
}

* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

.nav-container {
  background: var(--lighter-grey);
  width: 100%;
  display: flex;
  align-items: center;
  position: sticky;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03);
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  padding-left: 1.5rem;
  padding-right: 1.6rem;
  margin: 0;
}

.mylogo {
  display: flex;
  align-items: center;
  text-align: center;
  font-weight: 700;
  font-size: 1.6rem;
  margin-right: auto;
}

.mylogo a {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.5rem;
  color: var(--grey-white);
}

.nav-list {
  display: flex;
  flex-direction: column;
  text-decoration: none;
}

.nav-list li {
  list-style: none;
  padding: 1rem;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  display: none;
}

.menu_icons {
  display: flex;
  margin: 0;
}

.menu_icons,
.harmburgericon {
  top: 0.375%;
  width: 1.2rem;
  height: 0.75rem;
}

.menu_icons .closeicon {
  display: none;
}

.hero-container {
  width: 100%;
  height: 100vh;
}

.headline-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 8rem  1.5rem;
  gap: 0.75rem;
  overflow: hidden;
  text-decoration: none;
  background: url('/Assets/images/Base.png');
  background-size: cover;
}

.headline-content {
  display: flex;
  flex-direction: column;
  z-index: 1000;
  overflow: hidden;
}

.headline-text h1 {
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 3.5rem;
  line-height: 4rem;
  color: var(--orange-color);
  letter-spacing: 0.02rem;
}

.secondary-text {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 2rem;
  padding-top: 0.75rem;
  padding-bottom: 0.6rem;
  color: var(--grey-white);
}

.description-text {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5rem;
  color: var(--grey-white);

  /* margin: 1rem 0; */
  padding-bottom: 1rem;
}

.socialmedia {
  display: flex;
  color: var(--chalk-white);
}

.socialmedia,
.socialmedia-icons {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
}

.background-image {
  overflow-y: hidden;
  position: absolute;
  left: 58.74%;
  top: 51.3%;
  bottom: -11.63%;
  right: -30%;
}

@media screen and (max-width: 360px) {
  .background-image {
    position: absolute;
    left: 58.64%;
    top: 52.3%;
    bottom: -11.63%;
  }
}

/* Work Section */
.main-container {
  width: 100%;
  height: 100vh;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  padding: 1.5rem;
  flex: 1;
}

.grid-title {
  border-bottom: 0.122rem solid #c9b7b7;
}

.title-text {
  display: flex;
  align-items: center;
  padding-bottom: 2rem;
  padding-top: 2.5rem;
}

.title-text h1 {
  color: #1c1a19;
  font-family: 'Crete Round', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 2.5rem;
}

.grid-item {
  display: flex;
  flex-direction: column;
}

.item1 {
  display: flex;
  padding-top: 5rem;
  gap: 1.5rem;
  align-items: flex-start;
}

.img-holder {
  padding-bottom: 1.5rem;
}

.img-holder img {
  max-width: 20.4rem;
  max-height: 14.8rem;
}

.text-group {
  gap: 0.75rem;
  display: flex;
  flex-direction: column;
}

.text-group h2 {
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.75rem;
  color: #091e42;
}

.text-group p {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #091e42;
}

.languages {
  display: flex;
  align-items: center;
}

.languages,
.language {
  display: flex;
  flex-direction: row;
  gap: 0.75rem;
}

.language li {
  line-height: 1.25rem;
  border: 1px solid #8993a4;
  padding: 0.625rem 0.75rem;
}

.language li a {
  color: #091e42;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 0.9rem;
}

.btn-holder {
  text-decoration: none;
  border: none;
}

.btn {
  padding: 0.75rem;
  background: #ff6b00;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.06rem;
  line-height: 1.5rem;
  color: #fff;
  letter-spacing: 0.03em;
  border: none;
}

.btn:hover {
  color: #f55800;
  background: #fff5e1;
  border: 1px solid #f55800;
}

.item2 {
  display: flex;
  background: linear-gradient(180.45deg, rgba(38, 38, 38, 0) 0.75%, rgba(38, 38, 38, 0.9) 700.94%), url(/Assets/images/backimage.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.content h3 {
  padding-top: 4.5rem;
  padding-left: 0.81rem;
  padding-right: 1.18rem;
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.75rem;
  color: #fff;
}

.content p {
  padding: 0.75rem 0.81rem;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #fff;
}

.tags {
  display: flex;
  gap: 0.75rem;
  padding: 0 1.37rem 4.2rem 0.81rem;
}

.tags,
.tag {
  display: flex;
  flex-direction: row;
  gap: 0.75rem;
}

.tag li {
  background: rgba(255, 255, 255, 0.24);
  padding: 0.625rem 0.75rem;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 0.935rem;
  line-height: 1.25rem;
}

.tag li a {
  color: #fff;
}

.btn2-holder {
  display: flex;
  text-decoration: none;
  justify-content: center;
  padding: 0.75rem;
  background: #ff6b00;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.06rem;
  line-height: 1.5rem;
  color: #fff !important;
  letter-spacing: 0.03em;
  border: none;
}

.btn2-holder:hover {
  color: #f55800 !important;
  background: #fff5e1;
  border: 1px solid #f55800;
}

/* about section */
.about-container {
  background: url(/Assets/images/about-background.svg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  margin-top: 6rem;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
  padding-top: 7.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.about h2 {
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 4.5rem;
  line-height: 5.5rem;
  letter-spacing: 0.023rem;
  color: #ff6b00;
}

.about p {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #f4f5f7;
}

.about-me-banner {
  position: relative;
  left: 57.64%;

  /* right: 39%; */
  right: -99.81%;
  top: 15%;
  bottom: 43%;
}

.divider {
  border-top: 2px solid #b1a9a9;
  margin: 1.5rem;
}

/* Skills section */
.skills1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  padding: 6rem 2rem 4.67rem 4.67rem;
}

.skills1-top {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0.5rem 0.75rem;
  gap: 0.75rem;
}

.skills1-top h2 {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.75rem;
  color: #fff;
}

.list-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 0.75rem;
  gap: 0.5rem;
  text-align: center;
}

.list-items li a {
  list-style: none;
  justify-content: center;
  padding: 2rem 0;
  font-family: 'Inter', serif;
  font-style: normal;
  font-weight: 300;
  font-size: 1.375rem;
  line-height: 2.7rem;
  letter-spacing: 0.023rem;
  color: #fff;
}

.skills2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 2rem 2.93rem 2.93rem;
  gap: 1.5rem;
}

.skills2-top {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.5rem 0.75rem;
  gap: 0.75rem;
}

.skills2-top h2 {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.75rem;
  color: #fff;
}
